[flake8]
max-line-length = 100
exclude = .git, env, examples/*, __pycache__
import-order-style = pycharm
application-import-names = yimba_api/

[isort]
profile = black
src_paths = yimba_api/services/
