<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Pdf Format</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="content">
            <h1>Simple CSS Bar Chart</h1>

        <div class="simple-bar-chart">

          <div class="item" style="--clr: #5EB344; --val: 80">
            <div class="label">Label 1</div>
            <div class="value">80%</div>
          </div>

          <div class="item" style="--clr: #FCB72A; --val: 50">
            <div class="label">Label 2</div>
            <div class="value">50%</div>
          </div>

          <div class="item" style="--clr: #F8821A; --val: 100">
            <div class="label">Label 3</div>
            <div class="value">100%</div>
          </div>

          <div class="item" style="--clr: #E0393E; --val: 15">
            <div class="label">Label 4</div>
            <div class="value">15%</div>
          </div>

          <div class="item" style="--clr: #963D97; --val: 1">
            <div class="label">Label 5</div>
            <div class="value">1%</div>
          </div>

          <div class="item" style="--clr: #069CDB; --val: 90">
            <div class="label">Label 6</div>
            <div class="value">90%</div>
          </div>
        </div>
        <br>
        <hr>
        <h1>Circle PIE</h1>
        <div class="">
            <div class="pie animate no-round" style="--p:80;--c:blue;"> 80%</div>
            <div class="pie animate no-round" style="--p:80;--c:rgb(77, 255, 0);"> 80%</div>
            <div class="pie animate no-round" style="--p:80;--c:rgb(218, 99, 24);"> 80%</div>
            <div class="pie animate no-round" style="--p:80;--c:rgb(0, 217, 255);"> 80%</div>
            <div class="pie animate no-round" style="--p:80;--c:rgb(255, 0, 242);"> 80%</div>
        </div>

        <br>
        <hr>
        <h1>Circle PIE</h1>
        <div class="piex">
          <div class="html">19% HTML</div>
          <div class="css">81% CSS</div>
        </div>
       </div>
        <script src="" async defer></script>
    </body>
</html>
