<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rapport sur le mot clé {{ page_title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    </head>

    <body>
        <div class="content">
            <div class="bg-image" style="background-image:url('{{ url_for('static', path='img/bg.png')}}')">
                <h2>{{ page_title }}</h2>
            </div>

            <hr>

            <div class="container">
                <h3>Statistiques</h3>
                <div class="graphique">
                    <div class="image-container">
                        <img src="{{ fb_graphic_img }}" alt="{{ page_title }}">
                    </div>
                </div>
            </div>

            <hr>

            <div class="container">
                <h3>Mentions par plateformes</h3>

                <h3>#Facebook</h3>
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="barre">
                            <span class="valeur">{{ fb_total_likes_count }}</span>
                            <span class="libele">likes</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ fb_total_shares_count }}</span>
                            <span class="libele">partages</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ fb_total_views_count }}</span>
                            <span class="libele">vues</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ fb_total_comments_count }}</span>
                            <span class="libele">commentaires</span>
                        </div>
                    </div>
                </div>

                <h3>#Tiktok</h3>
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="barre">
                            <span class="valeur">{{ tk_total_likes_count }}</span>
                            <span class="libele">likes</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ tk_total_shares_count }}</span>
                            <span class="libele">partages</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ tk_total_views_count }}</span>
                            <span class="libele">vues</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ tk_total_comments_count }}</span>
                            <span class="libele">commentaires</span>
                        </div>
                    </div>
                </div>

                <h3>#Youtube</h3>
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="barre">
                            <span class="valeur">{{ yt_total_likes_count }}</span>
                            <span class="libele">likes</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ yt_total_shares_count }}</span>
                            <span class="libele">partages</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ yt_total_views_count }}</span>
                            <span class="libele">vues</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ yt_total_comments_count }}</span>
                            <span class="libele">commentaires</span>
                        </div>
                    </div>
                </div>

                <h3>#Instagram</h3>
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="barre">
                            <span class="valeur">{{ in_total_likes_count }}</span>
                            <span class="libele">likes</span>
                        </div>
                        <div class="barre">
                            <span class="valeur">{{ in_total_comments_count }}</span>
                            <span class="libele">commentaires</span>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="hashtags">
                <h2>Répartition par hashtag</h2>
                <ul>
                    {% for key in fb_keywords %}
                    <li>#{{ key }}</li>
                    {% endfor %}
                </ul>
            </div>

            <hr>

            <div class="footer">
                <div class="logo">
                    <img width="70px" src="{{ url_for('static', path='img/logo.png') }}" alt="logo">
                </div>
            </div>
        </div>
    </body>
</html>
