<div class="barre">
    <span class="valeur">{{ fb_total_likes_count }}</span>
    <span class="libele">likes</span>
</div>
<div class="barre">
    <span class="valeur">{{ fb_total_shares_count }}</span>
    <span class="libele">partages</span>
</div>
<div class="barre">
    <span class="valeur">{{ fb_total_views_count }}</span>
    <span class="libele">vues</span>
</div>
<div class="barre">
    <span class="valeur">{{ fb_total_comments_count }}</span>
    <span class="libele">commentaires</span>
</div>
